body{
    margin: 0;
    background: grey;
    
}


.centro{
    font-family: fantasy;
    font-size: 27px;
    text-align: center;
}

.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    background: green;
    border: 5px solid green;
    position: relative;
    margin-top: 150px;
    

}

.pri{
    font-family: 'Times New Roman', Times, serif;
    background: yellow;
}

.secu{
    text-align: center;
    font-size: 15px;
}

.boton{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    position: relative;
    right: -800px
}


.fac{
    text-decoration: none;
    font-size: 25px;
}