
body {
    background-color: white;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
}


.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    background: #6d5c5c;
    color: white;
    height: 140px;
    padding: 2rem 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.imagen-nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -30px;
}

.imagen img {
    width: 150px;
    left: -150px;
    position: relative;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation p {
    float: left;
    left: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: -50px;
    text-align: center;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 3s linear;
    border-radius: 5px;
    margin-top: 10px;
    float: right;
    right: -300px;
    position: relative;
}

.navigation ul li a:hover {
    color: #f39239;
}


/* body el cuerpo*/

.texto_p {
    width: 100%;
}

.texto {
    font-size: 20px;
    right: -400px;
    position: relative;
    width: 800px;
}

.navigation p {
    text-align: center;
}


/*primera caja con imagen*/

.caja1 {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 350px;
    float: left;
    height: 250px;
    position: relative;
    top: 50px;
    right: -50px;
}

.caja1 img {
    width: 150px;
    right: -70px;
    position: relative;
    margin-top: 30px;
}

.caja1 h3 {
    align-items: center;
    right: 70px;
    text-align: center;
    position: relative;
}

.caja1 .boton{
    width: 100px;
    height: 30px;
    position: relative;
    top: 125px;
    right: -30px;
    background-color: #f39239;
}


/*segunda caja con imagen*/

.caja2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    width: 350px;
    height: 140px;
    position: relative;
    right: -100px;
    float: left;
    margin-top: 30px;
}

.caja2 img {
    width: 150px;
    height: 150px;
    right: -55px;
    position: relative;
    margin-top: 50px;
}

.caja2 h3 {
    align-items: center;
    right: 115px;
    text-align: center;
    position: relative;
}

.caja2 .boton1{
    width: 100px;
    height: 30px;
    position: relative;
    top: 135px;
    right: -10px;
    background-color: #f39239;
}

.caja3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    width: 350px;
    height: 250px;
    position: relative;
    right: -70px;
    float: left;
    margin-top: 30px;
}

.caja3 img {
    width: 150px;
    right: -55px;
    position: relative;
    margin-top: 50px;
}

.caja3 h3 {
    align-items: center;
    right: 80px;
    text-align: center;
    position: relative;
    text-decoration: none;
}

.caja3 .boton2{
    width: 100px;
    height: 30px;
    position: relative;
    top: 135px;
    right: -50px;
    background-color: #f39239;
}


/* CAJA 4 */

.caja4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    width: 350px;
    height: 250px;
    position: relative;
    right: -80px;
    float: left;
    margin-top: 30px;
}

.caja4 img {
    width: 150px;
    right: -55px;
    position: relative;
    margin-top: 50px;
}

.caja4 h3 {
    align-items: center;
    right: 115px;
    text-align: center;
    position: relative;
}
.caja4 .boton3{
    width: 100px;
    height: 30px;
    position: relative;
    top: 110px;
    right: 10px;
    background-color: #f39239;
}


.caja5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    width: 350px;
    height: 250px;
    position: relative;
    right: -80px;
    float: left;
    margin-top: 30px;
}

.caja5 img {
    width: 100px;
    right: -55px;
    position: relative;
    margin-top: 50px;
}

.caja5 h3 {
    align-items: center;
    right: 100px;
    text-align: center;
    position: relative;
   
}
.caja5 .boton4{
    width: 100px;
    height: 30px;
    position: relative;
    top: 110px;
    right: -60px;
    background-color: #f39239;
}

.caja6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
    width: 350px;
    height: 250px;
    position: relative;
    right: -80px;
    float: left;
    margin-top: 30px;
}

.caja6 img {
    width: 100px;
    right: -55px;
    position: relative;
    margin-top: 50px;
}

.caja6 h3 {
    align-items: center;
    right: 100px;
    text-align: center;
    position: relative;
   
}
.caja6 .boton4{
    width: 100px;
    height: 30px;
    position: relative;
    top: 110px;
    right: -60px;
    background-color: #f39239;
}

.contenedor {
    width: 1100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}